body {
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.containerPaper {
    background-color: rgba(230, 230, 230, 0.183);
    position: relative;
    align-items: center;
    width: 8.25in;
    min-width: 8.25in;
    max-width: 8.25in;
    min-height: 11in;
    max-height: 11in;
    page-break-after: always;
}

.paper {
    text-align: left;
    min-width: 8in;
}

.paperContract {
    text-align: left;
    min-width: 8in;
}

.missionNameCSS {
    text-align: center;
    max-width: 6.25in;
    min-width: 6.25;
    width: 6.25;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: plus .5;
}

.missionAttribute {
    text-align: left;
    max-width: 6.25in;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.missionText {
    background-color: rgba(230, 230, 230, 0.050);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    max-width: 6.125in;
    min-width: 6.125in;
    min-height: 7.75in;
    max-height: 7.75in;
    color: rgb(0, 0, 0);
    text-shadow: 2px rgb(216, 216, 216);
    margin: auto;
    padding-left: 0.25in;
    padding-right: 0.25in;
}

.missionTextLast {
    background-color: rgba(230, 230, 230, 0.050);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    max-width: 6.125in;
    min-width: 6.125in;
    min-height: 6.25in;
    max-height: 6.25in;
    color: rgb(0, 0, 0);
    text-shadow: 2px rgb(0, 0, 0);
    margin: auto;
    padding-left: 0.25in;
    padding-right: 0.25in;
}

.missionText pre {
    font-family: inherit;
    font-size: 1.1em;
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: inherit;
    max-width: inherit;
    min-width: inherit;
    color: inherit;
    margin: inherit;
}

.missionTextLast pre {
    font-family: inherit;
    font-size: 1.1em;
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: inherit;
    max-width: inherit;
    min-width: inherit;
    color: inherit;
    margin: inherit;
}

.contractNameCSS {
    text-align: center;
    max-width: 6.25in;
    min-width: 6.25;
    width: 6.25;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    font-size: plus .5;
}

.contractAttribute {
    text-align: left;
    max-width: 6.25in;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.contractText {
    background-color: rgba(230, 230, 230, 0.050);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    max-width: 6.125in;
    min-width: 6.125in;
    min-height: 7in;
    max-height: 7in;
    color: rgb(0, 0, 0);
    text-shadow: 2px rgb(216, 216, 216);
    margin: auto;
    padding-left: 0.25in;
    padding-right: 0.25in;
}

.contractTextLast {
    background-color: rgba(230, 230, 230, 0.050);
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    max-width: 6.125in;
    min-width: 6.125in;
    min-height: 5.75in;
    max-height: 5.75in;
    color: rgb(0, 0, 0);
    text-shadow: 2px rgb(0, 0, 0);
    margin: auto;
    padding-left: 0.25in;
    padding-right: 0.25in;
}

.contractText pre {
    font-family: inherit;
    font-size: 1.1em;
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: inherit;
    max-width: inherit;
    min-width: inherit;
    color: inherit;
    margin: inherit;
}

.contractTextLast pre {
    font-family: inherit;
    font-size: 1.1em;
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: inherit;
    max-width: inherit;
    min-width: inherit;
    color: inherit;
    margin: inherit;
}

.missionType {
    font-size: 0.8em;
}

button {
    font-family: Stencil;
    background-color: rgba(1, 46, 0, 0.8);
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 2px 2px 4px black;
}


@media print {
    button {
        display: none;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
