body {
    justify-content: center;
    align-items: center;
    font-family: Stencil;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 2px 2px 4px black;
}

.containerPaper {
    align-items: center;
    width: 8.5in;
    min-width: 8.5in;
    min-height: 11in;
    max-height: 11in;
    page-break-after: always;
}

.paper {
    text-align: left;
    min-width: 8in;

}

.missionAttribute {
    text-align: center;
    max-width: 7.25in;
    margin: 0 auto;
    color: rgb(255, 0, 0);
}

.missionText {
    text-align: left;
    max-width: 6in;
    min-width: 5.75in;
    color: rgb(20, 30, 17);
    margin: 0 auto;
}

.missionType {
    font-size: 0.8em; /* Adjust this value to change the size */
}

@media print {
    button {
        display: none;
    }
}
