/* ---- Start of replacement menu styles (Dorrito) ---- */
/* Menu styles for all levels */
.topnav {
    --menu-height: 30px;
    box-sizing: border-box;
    position: fixed;
    background-color: #333333;
    top: 0;
    left: 0;
    width: 100vw;
    ul {
      list-style: none;
      padding: 16px;
      margin: 0;
      background-color: #333333;
      li, li a {
        color: #ffffff;      
        transition: 200ms;
        text-decoration: none;
        white-space: nowrap;
        &:hover {
          opacity: 1;
          color: red;
        }
        a {
          display: flex;
          align-items: center;
          height: 100%;
          width: 100%;      
        }      
      }
      li {
        padding-right: 36px;
        &::before {
          display: none;
          content: '';
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid transparent;
          position: absolute;
          right: 8px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .subnav {
        &::before {
          padding-right: 0;
          display: none;
        }      
      }
    }
    > ul {
      display: flex;
      height: calc(var(--menu-height) + 5px);
      align-items: center;
      background-color: #333333;
      li {
        position: relative;
        margin: 0 8px;
        ul {
          visibility: hidden;
          opacity: 0;        
          padding: 0;
          min-width: 160px;
          background-color: #333333;
          position: absolute;
          top: var(--menu-height);
          left: 50%;
          transform: translateX(-50%);
          transition: 200ms;
          transition-delay: 200ms;
          li {
            margin: 0;
            padding: 8px 16px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 30px;
            padding-right: 40px;
            &::before {
              width: 0; 
              height: 0; 
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 5px solid transparent;
            }
            ul {
              top: -2%;
              left: 100%;
              transform: translate(0)
            }
            &:hover {
              background-color: #000000;
            }
          }
        }
        &:hover {
          > ul {
            opacity: 1;
            visibility: visible;
            transition-delay: 0ms;
          }
        }
      }
    }
}
/* ---- End of replacement Menu styles (Dorrito) ---- */